.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 5px;
  background-color: $color-transparent;
  font-family: $ff-placeholder;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  transition: color $trans-default, border-color $trans-default, background-color $trans-default, opacity $trans-default;
}
