.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 10px;
  width: 100%;
  font-family: $ff-placeholder;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border: 1px solid $color-transparent;
  user-select: none;
  cursor: pointer;
  transition: color $trans-default, border-color $trans-default, background-color $trans-default, opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
    }

    &:focus-visible {
    }

    &:active {
    }
  }
}
