.connection {
  background: $from-sapphire-to-default-white;

  @include vp-1199 {
    background: none;
  }
}

.connection__inner {
  display: flex;

  @include vp-1199 {
    flex-direction: column;
    margin-left: -45px;
    margin-right: -45px;
    width: calc(100% + 90px);
  }

  @include vp-767 {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }

  section {
    padding-top: 56px;
    padding-bottom: 68px;
    width: 50%;

    @include vp-1365 {
      padding-top: 56px;
      width: 100%;
    }

    @include vp-1199 {
      padding-top: 62px;
      padding-left: 133px;
    }

    @include vp-767 {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 70px;
    }
  }

  h2 {
    text-align: left;
  }
}

.connection__contacts {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 50vw;
    top: 0;
    left: 0;
    background-color: $color-light-slate-grey;

    @include vp-1199 {
      display: none;
    }
  }
}
