.gyms {
  padding-top: 120px;
  padding-bottom: 235px;
  padding-left: 163px;
  display: flex;
  align-items: center;
  gap: 85px;

  @include vp-1365 {
    padding-top: 120px;
    padding-bottom: 235px;
    padding-left: 120px;
  }

  @include vp-1199{
    padding-top: 100px;
    padding-bottom: 183px;
    flex-direction: column;
    gap: 50px;
  }

  @include vp-767{
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 40px;
  }
}

.gyms__content {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  width: 355px;

  @include vp-1199{
    min-width: unset;
    width: auto;
    align-items: center;
  }

  @include vp-767{
    align-items: flex-start;
  }

  h2 {
    text-align: left;
    margin-bottom: 25px;

    @include vp-1199 {
      margin-bottom: 6px;
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }

  b {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 55px;

    @include vp-1199 {
      margin-bottom: 50px;
    }

    @include vp-767 {
      margin-bottom: 40px;
    }
  }

  p {
    margin: 0;
    line-height: 1.5;
    margin-bottom: 10px;

    @include vp-1199 {
      max-width: 502px;
      text-align: center;
    }

    @include vp-767 {
      text-align: left;
      max-width: unset;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.gyms__media {
  flex-shrink: 0;
  align-self: flex-start;
  position: relative;

  @include vp-1365 {
    flex-shrink: 1;
  }

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }
}

.gyms__image {
  margin: 0;
  display: grid;

  @include vp-767 {
    margin-bottom: 40px;
    width: 100%;
  }

  img {
    background-color: $color-default-white;
    object-fit: cover;
    aspect-ratio: 660 / 401;

    @include vp-1199 {
      width: 100%;
      object-position: top;
      aspect-ratio: 678 / 345;
    }

    @include vp-767 {
      aspect-ratio: 320 / 313;
      object-position: 90% top;
      height: auto;
    }
  }
}

.gyms__video {
  margin: 0;
  position: absolute;
  left: -63px;
  bottom: -114px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    left: 50%;
    bottom: -83px;
    transform: translateX(-50%);
  }

  @include vp-767 {
    position: relative;
    left: unset;
    bottom: unset;
    transform: unset;
    width: 100%;
    height: auto;
  }

  video {
    background-color: $color-default-white;
    object-fit: cover;
    aspect-ratio: 364 / 228;

    @include vp-1199 {
      aspect-ratio: 266 / 167;
    }

    @include vp-767 {
      width: 100%;
      aspect-ratio: 320 / 167;
    }
  }
}

.gyms__video-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background: $from-cobalt-to-torch-red;

  @include vp-1199 {
    width: 52px;
    height: 52px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      opacity: 0.7;
    }

    &:focus-visible {
      outline: 1px solid $color-default-white;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    left: calc(50% + 3px);
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/svg/play-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @include vp-1199 {
      width: 12px;
      height: 12px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/svg/play-border.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }
}
