.logo {
  display: grid;
  place-items: center;
  margin: 0;
  width: 122px;
  height: 44px;

  @include vp-1199 {
    width: 82px;
    height: 29px;
  }

  @include vp-767 {
    width: 69px;
    height: 24px;
  }

  &--footer {
    width: 88px;
    height: 32px;
  }

  img {
    object-fit: contain;

    @include vp-1199 {
      width: 82px;
      height: 17px;
    }

    @include vp-767 {
      width: 69px;
      height: 20px;
    }
  }
}
