.promo {
  padding-top: 120px;
  display: flex;

  @include vp-1365 {
    padding-top: 120px;
  }

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    flex-direction: column;
  }
}

.promo__main {
  padding: 87px 78px 74px;
  background-color: $color-torch-red;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  color: $color-default-white;
  flex-grow: 1;

  @include vp-1199 {
    padding: 51px 45px 38px;
    min-width: 292px;
  }

  @include vp-767 {
    padding: 51px 45px;
    min-width: unset;
  }

  p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 53px;

    @include vp-1199 {
      font-size: 12px;
      margin-bottom: 33px;
    }
  }

  a {
    min-height: 67px;
    color: $color-default-white;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    border: 2px solid $color-default-white;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        background-color: $color-default-white;
        color: $color-torch-red;
      }

      &:focus-visible {
        outline: 1px solid $color-default-white;
        background-color: $color-default-white;
        color: $color-torch-red;
      }

      &:active {
        opacity: 0.4;
      }
    }

    @include vp-1199 {
      min-height: 39px;
      font-size: 10px;
    }
  }
}

.promo__info {
  display: flex;
  margin-bottom: 25px;

  @include vp-1199 {
    margin-bottom: 10px;
  }

  b {
    font-family: $ff-title;
    font-size: 82px;
    font-weight: 600;
    line-height: 0.95;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    margin-left: 8px;

    @include vp-1199 {
      font-size: 48px;
    }
  }
}

.promo__meta {
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 23px;

  @include vp-1199 {
    gap: 10px;
  }
}

.promo__meta-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: max-content;

  @include vp-1199 {
    gap: 3px;
  }

  dt {
    margin: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid $color-default-white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;

    @include vp-1199 {
      font-size: 12px;
      padding-bottom: 2px;
    }
  }

  dd {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;

    @include vp-1199 {
      font-size: 24px;
      gap: 3px;
    }
  }

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;

    @include vp-1199 {
      font-size: 10px;
    }
  }
}

.promo__image {
  margin: 0;
  display: flex;

  @include vp-1199 {
    aspect-ratio: 386 / 292;
  }

  @include vp-767 {
    aspect-ratio: 290 / 292;
  }

  img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
