.promotions {
  padding-top: 145px;

  @include vp-1365 {
    padding-top: 119px;
  }

  @include vp-1199 {
    padding-top: 90px;
  }

  @include vp-767 {
    padding-top: 60px;
  }

  h2 {
    margin-bottom: 34px;

    @include vp-1199 {
      margin-bottom: 40px;
    }

    @include vp-767 {
      margin-bottom: 39px;
    }
  }
}

.promotions__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;

  @include vp-1199 {
    grid-template-rows: auto minmax(211px, auto);
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.promotions__item {
  display: flex;
  border: 7px solid transparent;
  border-image-source: $from-crimson-to-smalt;
  border-image-slice: 1;
  min-height: 211px;

  &--accent {
    grid-row: 1 / -1;
    border: none;
    min-height: unset;

    @include vp-1199 {
      grid-row: 1 /2;
      grid-column: 1 / -1;
    }

    @include vp-767 {
      flex-direction: column;
    }

    .promotions__item-content {
      background-color: $color-torch-red;
      padding: 45px;

      @include vp-1199 {
        flex-grow: 1;
      }

      @include vp-767 {
        padding: 42px 42px 46px;
      }
    }

    .promotions__item-link {
      font-size: 14px;
      color: $color-default-white;
    }
  }
}

.promotions__item-content {
  padding: 28px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    padding: 25px 28px 30px;
  }

  @include vp-767 {
    padding: 34px 28px 40px;
    align-items: center;
    width: 100%;
  }
}

.promotions__item-description {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $color-resolution-blue;
  margin-bottom: 15px;

  @include vp-767 {
    align-items: center;
    margin-bottom: 25px;
  }

  dt {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
  }

  dd {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;

    @include vp-1199 {
      line-height: 1.5;
    }

    @include vp-767 {
      text-align: center;
    }
  }

  &--accent {
    gap: 15px;
    color: $color-default-white;

    @include vp-767 {
      gap: 14px;
      margin-bottom: 28px;
    }

    dt {
      font-size: 28px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      @include vp-767 {
        align-items: center;
      }
    }

    dd {
      font-size: 18px;
      line-height: 1.5;
    }

    span {
      font-size: 70px;
    }
  }
}

.promotions__item-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $color-resolution-blue;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-top: auto;
  width: max-content;
  transition: text-decoration $trans-default, opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      text-decoration: none;
    }

    &:focus-visible {
      outline: 1px solid $color-sapphire;
      text-decoration: none;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

.promotions__item-image {
  margin: 0;
  flex-shrink: 0;
  max-width: 50%;

  @include vp-1199 {
    max-width: unset;
    min-width: 59%;
  }

  img {
    object-fit: cover;
    background-color: $color-smalt;
    aspect-ratio: 280 / 462;
    object-position: 35% center;
    width: 100%;
    min-height: 100%;

    @include vp-1199 {
      aspect-ratio: 399 / 462;
      object-position: top;
    }

    @include vp-767 {
      aspect-ratio: 290 / 299;
      object-position: top;
    }
  }
}
